@import 'C:/xampp/htdocs/testsite/node_modules/foundation-sites/scss/foundation.scss';

// @include foundation-grid;
@include foundation-flex-classes;
@include foundation-flex-grid;

.site {
    #navLinks{
        list-style-type: none;
        font-size: 60px;
        a{
            color: black;
            &:hover{
                color: orangered;
            }
        }
    }
}