@import 'C:/xampp/htdocs/testsite/node_modules/foundation-sites/scss/foundation.scss';

// @include foundation-grid;
@include foundation-flex-classes;
@include foundation-flex-grid;

/***************************Header Styles***********************************/

//for the navigation bar
#navLinks{
    list-style-type: none;
    font-size: 50px;
    text-align: center;
    a{
        color: black;

        &:hover{
            color: orangered;
        }
    }
}
 

/*******************************************Body*****************************/

//gets ride of those little separater lines in the theme
::before{
    display: none;
    visibility: hidden;
}

//hides the out of place [HOME] title on the homepage only
/*.entry-title{
    display: none;
}*/

form{ // for ALL search buttons
    input[type="submit"]{
        background-color: black !important;
        &:hover{
            background-color: orangered !important;
        }
    }
}

#hmuPage{ //for contact page
    .entry-title{
        display: none;
    }
}


#singleJo{
    //text-align: center;
}

//makes site an off-white
.site{
    background-color: #fafafa;
    a{
        color: black !important;
        &:hover{
            color: orangered !important;
        }
    }
}



/****************************Footer Styles************************************/

/*#cat{ //for the category box (took all the widgets out)
    background-color: white;
    color: black;

    &:hover{
        background-color: orangered;
        color: white;
    }
}*/


.site-footer{

    text-align: center;
    .ftrSearch{
        input[type="text"]
        {
            width: 50%;
        }
    }

    ul li{
        list-style-type: none;
    }

}

//for the audio box
/* WP 3.6 Native Audio Player styling*/

/* change the color of the background */
.mejs-controls,
.mejs-mediaelement,
.mejs-container {
	background: url('') !important;
	background-color: orangered !important;
}

/* change the color of the lettering */
.mejs-currenttime,
.mejs-duration {
	color: white !important;
}

/* eliminate the yellow border around the play button during playback */
.mejs-controls .mejs-button button:focus {
outline: none !important;
}
